.layout {
  height: 100dvh;
  background: transparent;
  padding: var(--spacing-5);
}

.mainContent {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background: var(--theme-background);
  border-left: solid 1px var(--theme-stroke);
  border-right: solid 1px var(--theme-stroke);
  scrollbar-gutter: stable;

  /* Скрываем скроллбар для Firefox */
  scrollbar-width: none;

  /* Для старых версий IE */
  -ms-overflow-style: none;
}

/* Скрываем скроллбар для WebKit браузеров (Chrome, Safari, Edge) */
.mainContent::-webkit-scrollbar {
  display: none;
}
