.page {
  padding: var(--spacing-6);
  position: relative;
}

.title {
  color: var(--primary-bg);
}

.section {
  margin-top: var(--spacing-6);
}

.sectionTitle {
  color: var(--color-indigo-400);
}
