.wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.backgroundSvg {
  position: absolute;
  top: -14dvh;
  left: 0;
  width: 120dvw;
  height: 110dvh;
  z-index: 1;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.introductionContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 50%;
  transform: translate(-50%, -50%);
}

.jobTitle {
  color: #6366f1; /* colors.indigo[500] */
}

.inlineCode {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.inlineCode :global(.keyword) {
  color: #6366f1; /* colors.indigo[500] */
}

.inlineCode :global(.link) {
  color: #2dd4bf; /* colors.teal[400] */
}

.inlineCode :global(.punctuation) {
  color: #94a3b8;
}

