.root {
  background: var(--theme-background);
  border: 1px solid var(--theme-stroke);
  border-radius: var(--radius-3);
  padding: var(--spacing-5);
  height:  400px;
  overflow: auto;
}

.pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--theme-foreground);
}

.code {
  display: block;
  font-size: var(--font-size-body-sm);
  line-height: var(--line-height-body-sm);
}

/* Syntax Highlighting */
.code :global(.keyword) {
  color: var(--color-indigo-400);
}

.code :global(.string) {
  color: var(--color-green-400);
}

.code :global(.number) {
  color: var(--color-orange-400);
}

.code :global(.comment) {
  color: var(--color-slate-500);
  font-style: italic;
}

.code :global(.function) {
  color: var(--color-yellow-400);
}

.code :global(.punctuation) {
  color: var(--color-slate-400);
}
