.footer {
  background: var(--theme-background);
  border: 1px solid var(--theme-stroke);
  border-bottom-left-radius: var(--radius-4);
  border-bottom-right-radius: var(--radius-4);
  width: 100%;
  height: 56px;
}

.footerText {
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--spacing-5) var(--spacing-6);
  border-right: 1px solid var(--theme-stroke);
  color: var(--theme-foreground);
  font-size: var(--font-size-body-sm);
}

.socialLinks {
  flex: 1 1 auto;
  height: 100%;
  justify-content: flex-end;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 100%;
  transition:
    color 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
  border-left: 1px solid var(--theme-stroke);
  color: var(--theme-foreground);
}

.socialLink:hover {
  color: var(--primary-bg);
  border-color: var(--primary-bg);
  box-shadow: 0 0 10px rgba(255, 184, 106, 0.2);
}

.socialLink svg {
  width: 28px;
  height: 28px;
}
