.headerNavigation {
  background: var(--theme-background);
  backdrop-filter: blur(10px);
  border: 1px solid var(--theme-stroke);
  padding: var(--spacing-5) var(--spacing-6);
  border-top-left-radius: var(--radius-4);
  border-top-right-radius: var(--radius-4);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.logo {
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-medium);
  color: var(--theme-foreground);
}

/* Navigation Link Colors */
.navLink {
  color: var(--theme-foreground);
}

.navLinkActive {
  color: var(--theme-heading);
}

/* Desktop Navigation */
.desktopNav {
  display: flex;
  gap: var(--spacing-7);
  align-items: center;
}

@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }
}

/* Desktop Menu */
.desktopMenu {
  background: transparent;
  border: none;
  line-height: 1;
}

.desktopMenu:global(.ant-menu) :global(.ant-menu-item) {
  font-size: var(--font-size-body-md);
  padding: var(--spacing-3) 0;
  margin: 0 var(--spacing-5);
  border-bottom: none;
  transition: color 0.3s ease;
}

.desktopMenu:global(.ant-menu) :global(.ant-menu-item:hover) {
  border-bottom: none;
}

.desktopMenu:global(.ant-menu)
  :global(.ant-menu-item.ant-menu-item-selected) {
  border-bottom: none;
}

.desktopMenu:global(.ant-menu)
  :global(.ant-menu-item.ant-menu-item-selected)::after {
  border-bottom: 2px solid var(--color-slate-500);
}

/* Mobile Menu Button */
.mobileMenuBtn {
  background: none;
  border: none;
  display: none;
}

@media (max-width: 768px) {
  .mobileMenuBtn {
    display: block;
  }
}

/* Mobile Drawer */
.mobileDrawerRoot {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.mobileDrawerBody {
  padding: 0;
  background: var(--theme-background);
}

/* Mobile Menu */
.mobileMenu {
  background: var(--theme-background);
  border: none;
  padding: var(--spacing-4) 0 0 0;
}

.mobileMenu:global(.ant-menu) :global(.ant-menu-item) {
  color: var(--color-slate-500);
  font-size: var(--font-size-body-lg);
  margin: 0;
  height: 45px;
  padding: var(--spacing-4) 0 var(--spacing-4) var(--spacing-6);
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  border-radius: 0;
  border-bottom: 1px solid var(--theme-stroke);
  width: 100%;
}

.mobileMenu:global(.ant-menu) :global(.ant-menu-item:hover) {
  color: var(--theme-heading);
  background: transparent;
}

.mobileMenu:global(.ant-menu) :global(.ant-menu-item.ant-menu-item-selected) {
  background: transparent;
}

.mobileMenu:global(.ant-menu)
  :global(.ant-menu-item.ant-menu-item-selected)::after {
  border-bottom: 2px solid var(--primary-bg);
}

.mobileTitleContainer {
  background: var(--theme-background);
  height: 68px;
  width: 100%;
  padding: var(--spacing-6);
  border-left: 1px solid var(--theme-stroke);
  border-right: 1px solid var(--theme-stroke);
}
