.page {
  padding: var(--spacing-6);
  position: relative;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code404 {
  font-size: 120px;
  color: var(--primary-bg);
  margin: 0;
  text-shadow: 0 0 20px rgba(255, 184, 106, 0.5);
}

.subtitle {
  color: var(--theme-foreground);
  margin-top: var(--spacing-5);
}

@media (max-width: 480px) {
  .code404 {
    font-size: 88px;
  }
}
